<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="modules" type="Prism.Modularity.ModulesConfigurationSection, Prism.Wpf"/>
  </configSections>
  
  <modules>
    <module assemblyFile="SmartFreezer.SplashScreen.dll"
            moduleType="SmartFreezer.SplashScreen, SmartFreezer.SplashScreen.SplashScreenModule, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null"
            moduleName="SplashScreen"
            startupLoaded="true"/>
    
    <module assemblyFile="ModularityWithUnity.Desktop.ModuleF.dll"
            moduleType="ModularityWithUnity.Desktop.ModuleF, ModularityWithUnity.Desktop.ModuleF, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null"
            moduleName="ModuleF"
            startupLoaded="false">
      <dependencies>
        <dependency moduleName="SplashScreen"/>
      </dependencies>
    </module>
  </modules>

  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Windows.Interactivity"
                          publicKeyToken="31bf3856ad364e35"
                          culture="neutral"/>
        <bindingRedirect oldVersion="4.0.0.0"
                         newVersion="4.5.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/>
  </startup>
</configuration>
